* {
  font-family: sans-serif;
}

body {
  background-color: rgb(211, 211, 211);
}

H1{
  color: black;
}





/* Flex */
.flex-mainWin {
  /* We first create a flex layout context */
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(134, 134, 134);

  /* Then we define how is distributed the remaining space */
  justify-content: left;

  padding: 8px;
  margin: 5px;
  height: 50%;
  list-style: none;
}

.flex-item {
  background: tomato;
  border: 5px;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  color: white;
  font-weight: bold;
  /* text-align: center;*/
} 

/* Classes */
.parent {
  display: flex;
  height: 300px;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
}

.picture_label {
  color: rgb(44, 44, 44);
  font-style: italic;
}